.page-footer {
     padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background-color;
		&__join-us {
		}
		&__subtitle {
		}
		&__social {
		}
		&__sign-up {
		}
		&__subtitile {
		}
		&__button {
		}
}
.container {
}
.logo {
}
.logo--white {
}
.address {
		&_link {
		}
		&__list {
		}
		&__item {
		}
		&__link {
		}
}
.social {
		&__list {
		}
		&__item {
		}
		&__link {
		}
		&__icon {
		}
}
.sign-up {
		&__form {
		}
		&__field {
		}
		&__input {
		}
		&__label {
		}
}
.button {
		&__icon {
		}
}
